body
{
    background-image: url('PHOTOS/chambre.jpg');
}


h1, h1 + p
{
    text-align: center;
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

h2
{
    color: #6E4A46;
}

section
{
    display: inline-block;
    vertical-align: left;
    width: 20%;
    margin-right: 2%;
}

#corps
{
    display: inline-block;
    vertical-align: top;
}


#corps
{
    width: 85%;
}

@media all and (max-width: 1024px)
{
    section
    {
        display: block;
        width: auto;
    }

    #corps
    {
        width: auto;
    }

}